<div class="container">
  <h1>Coucou je suis dans #About</h1>
  <% if @age >= 18 %>
    <div>
      <h3>Bouteille d'alcool</h3>
    </div>
  <% end %>
</div>
<%= link_to("Voir les membres", "/", class: "link", id: "tto")  %>
